* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

main {
    min-height: calc(100vh - 300px - 80px);
    padding: 30px;
    background-color: #181A20;
}

.prices-update-info {
    color: white;
    margin-bottom: 5px;
    position: absolute;
    top: 80px;
    background-color: #444444;
    width: 100%;
    left: 0px;
    right: 0px;
    padding-left: 5px;
}