.footer {
    height: 300px;
    background-color: #171717;
}

.info-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 100%;
}

.about {
    width: 200px;
    color: white;
}

.about h1, .about p {
    color: white;
}

.products-list, .community-links {
    list-style-type: none;
}

.products h1, .products ul li {
    color: white;
} 

.community h1, .community ul li i {
    color: white;
} 

@media(max-width: 1024px) {
    .footer {
        min-height: 500px;
    }

    .info-container {
        flex-direction: column;
    }

    .about {
        width: 100%;
    }
}